<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head be-modal-card-head be-print-modal-head">
      <span class="be-modal-title"
        >{{ $t("results") }} {{ $t("summaries") }}</span
      >
    </header>
    <section
      id="printBodySummaries"
      ref="PrintBody"
      class="be-modal-print-body"
    >
      <h1 class="subtitle be-results-subtitle is-4">
        {{ $t("title", { prov_code: data[`prov_code_${langLocal}`] }) }}
      </h1>
      <div>
        <ul>
          <template>
            <li v-for="(value, index) in data.entities" :key="index">
              <a class="be-link" v-bind:href="`#${index}`"
                >{{ value[`title_${langLocal}`] }}
              </a>
            </li>
          </template>

          <template>
            <li
              v-for="(value, index) in data['non-active-entities']"
              :key="index"
            >
              <a class="be-link" v-bind:href="`#${index}`"
                >{{ value[`title_${langLocal}`] }}
              </a>
            </li>
          </template>
        </ul>
        <br />
      </div>

      <div v-for="(value, index) in data.entities" v-bind:key="index">
        <template>
          <a :name="index"></a>
          <h2 class="subtitle be-results-subtitle is-4">
            {{ value[`title_${langLocal}`] }}
          </h2>
          <p>{{ value[`summary_${langLocal}`] }}</p>
          <br />
          <h3 class="subtitle be-results-subtitle is-5">
            {{ $t("advantages") }}
          </h3>
          <p>
            {{ value[`advantage_${langLocal}`] }}
          </p>
          <br />
          <h3 class="subtitle be-results-subtitle is-5">
            {{ $t("disadvantages") }}
          </h3>
          <p>{{ value[`disadvantage_${langLocal}`] }}</p>
          <br />
        </template>
      </div>

      <div
        v-for="(value, index) in data['non-active-entities']"
        v-bind:key="index"
      >
        <template>
          <a :name="index"></a>
          <h2 class="subtitle be-results-subtitle is-4">
            {{ value[`title_${langLocal}`] }}
          </h2>
          <p>{{ value[`summary_${langLocal}`] }}</p>
          <br />
          <h3 class="subtitle be-results-subtitle is-5">
            {{ $t("advantages") }}
          </h3>
          <p>
            {{ value[`advantage_${langLocal}`] }}
          </p>
          <br />
          <h3 class="subtitle be-results-subtitle is-5">
            {{ $t("disadvantages") }}
          </h3>
          <p>{{ value[`disadvantage_${langLocal}`] }}</p>
          <br />
        </template>
      </div>
      <p>
        {{ $t("more_info", { prov: data[`prov_name_${this.langLocal}`] }) }}
        <a
          class="be-link"
          target="_blank"
          rel="noopener"
          :href="data[`contact_${langLocal}`]"
          >{{ data[`contact_name_${langLocal}`] }}</a
        >.
      </p>
      <br />
      <p>
        {{ $t("powerby") }}
        <a
          class="be-link"
          target="_blank"
          rel="noopener"
          :href="$t('bizpal_link')"
          >{{ $t("bizpal") }}</a
        >
      </p>
    </section>
    <footer class="modal-card-foot be-modal-card-foot">
      <b-button class="be-button" outlined @click="print()">
        {{ $t("print") }}
      </b-button>
      <b-button class="be-button" outlined @click="downloadSummaryPDF()">
        {{ $t("download") }}
      </b-button>
      <b-button class="be-button" outlined @click="onClickPrevious()">
        {{ $t("close") }}
      </b-button>
    </footer>
  </div>
</template>

<script>
import Vue from "vue";
import Printd from "printd";
import pdfMake from "pdfmake/build/pdfmake.js";
import pdfFonts from "pdfmake/build/vfs_fonts.js";
import VueI18nSummaries from "vue-i18n";
import interaction from "@bizpal/open-services-interaction-mixins";

Vue.use(VueI18nSummaries);
pdfMake.vfs = pdfFonts.pdfMake.vfs;

// Create VueI18n instance with options
export const i18n = new VueI18nSummaries({
  locale: process.env.VUE_APP_I18N_LOCALE || "en",
  fallbackLocale: process.env.VUE_APP_I18N_FALLBACK_LOCALE || "en"
});
export default {
  name: "ModalSummary",
  i18n: {
    locale: "en",
    messages: {
      en: {
        advantages: "Advantages:",
        disadvantages: "Disadvantages:",
        download_name_summary: "business-structures-in-{prov}-summary",
        restart: "Restart",
        print_results: "Print / Download",
        print_summaries: "See All Structures",
        print_result_header: "Suggested Business Entity Result",
        results: "Business Structures Wizard:",
        summaries: "Summary of Business Structures",
        title:
          "This page provides a summary of all for-profit business structures in {prov_code}, including those not covered in the Wizard questions.",
        print: "Print",
        download: "Download",
        close: "Back",
        powerby: "Powered by ",
        previous: "Back",
        general_resources: "All Business Types",
        bizpal_link: "https://services.bizpal-perle.ca/",
        bizpal: "BizPaL",
        more_info:
          "For more information on business structures in {prov} and how to set up your business, contact "
      },
      fr: {
        advantages: "Avantages :",
        disadvantages: "Désavantages :",
        download_name_summary: "structures-entreprises-dans-{prov}-sommaire",
        restart: "Redémarrer",
        print_results: "Imprimer/Télécharger",
        print_result_header: "Résultat suggéré de structure d'entreprise",
        print_summaries: "Voir toutes les structures",
        results: "Assistant de structures d'entreprise :",
        summaries: "Sommaire de structure d'entreprise",
        title:
          "Cette page fournit un sommaire de toutes les structures d'entreprise à but lucratif dans {prov_code}, incluant ceux non couvert dans les questions de l'assistant.",
        print: "Imprimer",
        download: "Télécharger",
        close: "Retour",
        powerby: "Proposé par ",
        previous: "Précédent",
        general_resources: "Tous les structures d'entreprise",
        bizpal_link: "https://services.perle-bizpal.ca/",
        bizpal: "PerLE",
        more_info:
          "Pour plus de renseignements sur les structures d'entreprise dans {prov} et comment lancer votre entreprise, communiquez avec"
      }
    }
  }, // end i18n
  props: {
    data: Object,
    entitiesId: Array,
    userAnswers: Object,
    entitiesTotal: Object,
    sgc: {
      type: String
    },
    lang: {
      type: String,
      default: "en"
    }
  },
  mixins: [interaction],
  data: function() {
    return {
      entity: {},
      langLocal: this.lang,
      entities: {},
      isCardModalActive: false,
      isSummariesModalActive: false,
      canCancel: false,
      nextSteps: false,
      sgcLocal: this.sgc,
      css: `.be-selected {
              font-weight: bolder;
              font-style: italic;
            }
        `
    };
  }, // end data
  mounted: function() {
    this.$i18n.locale = this.langLocal;
  },
  methods: {
    saveInteraction: function(action, value) {
      let propsInteraction = this.mxGetDefaultInteractionProp(
        this.langLocal,
        "Business Structure - Widget"
      );
      propsInteraction.hostname =
        window.location != window.parent.location
          ? document.referrer
          : document.location.href;
      propsInteraction.branding = `${this.sgcLocal}`;
      let statementInteraction = this.mxCreateNodeStatement(
        "n",
        this.mxInteraction.label,
        propsInteraction
      );

      // Create Node Events

      let propsEvents = {};
      propsEvents.action = action;
      propsEvents.label = value;
      let statementEvents = this.mxCreateNodeStatement(
        "e",
        "Events",
        propsEvents
      );

      // create Merge relationship Interaction and UserDate
      let statementRelationshipDate = this.mxCreateDateMergeRelationshipDate(
        propsInteraction.key,
        propsInteraction.timestamp_readable
      );

      let statementRelationshipEvents = this.mxCreateInteractionRelationshipStatement(
        this.mxInteraction.label,
        propsInteraction.key,
        "INTERACT_WITH_CONTEXT",
        "Events",
        "timestamp",
        [propsEvents.timestamp],
        false
      );

      this.mxSaveInteraction(
        process.env.VUE_APP_NEO4J_URL,
        process.env.VUE_APP_NEO4J_U,
        process.env.VUE_APP_NEO4J_P,
        [
          statementInteraction,
          statementEvents,
          statementRelationshipEvents,
          statementRelationshipDate
        ]
      );
    },
    province: function() {
      let data = this.data;
      return data[`prov_name_${this.langLocal}`] || "N/A";
    },
    title: function(entity) {
      return entity[`title_${this.langLocal}`] || "N/A";
    },
    body: function(entity) {
      return entity[`summary_${this.langLocal}`] || "N/A";
    },
    advantages: function(entity) {
      return entity[`advantage_${this.langLocal}`] || "N/A";
    },
    disadvantages: function(entity) {
      return entity[`disadvantage_${this.langLocal}`] || "N/A";
    },
    disclaimer: function() {
      let data = this.data;
      return data[`disclaimer_${this.langLocal}`] || "N/A";
    },

    downloadSummaryPDF: function() {
      this.$gtag.customMap({ dimension1: "sgc" });
      this.$gtag.event("download-summary-all-structures", {
        event_category: "business-entity-tool",
        event_label: "Download summary of all structures",
        sgc: this.sgcLocal,
        product: process.env.VUE_APP_PRODUCT,
        event_lang: this.$i18n.locale
      });

      this.saveInteraction(
        "download-summary-all-structures",
        "Download summary of all structures"
      );

      let today = new Date();
      let date =
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        today.getDate();
      let filename =
        this.$t("download_name_summary", {
          prov: this.data[`prov_code_${this.langLocal}`]
        }) + `-${date}.pdf`;
      const allEntities = this.data.entities;
      const document = {
        content: [
          {
            text: this.$t("results") + " " + this.$t("summaries"),
            style: "title"
          },
          {
            text: this.$t("title", {
              prov_code: this.data[`prov_code_${this.langLocal}`]
            })
          }
        ],
        styles: {
          toc: {
            fontSize: 10,
            color: "#366b8c"
          },
          title: {
            fontSize: 16,
            bold: true,
            lineHeight: 1.5
          },
          subtitle: {
            fontSize: 14,
            bold: true,
            lineHeight: 1.5,
            color: "#2c5671"
          },
          header: {
            fontSize: 12,
            bold: true,
            lineHeight: 1.5
          },
          normal: {
            fontSize: 10,
            lineHeight: 1.25
          },
          link: {
            color: "#366b8c"
          }
        }
      };

      for (var toc in allEntities) {
        document.content.push([
          {
            text: allEntities[toc][`title_${this.langLocal}`],
            style: "toc",
            linkToDestination: toc
          }
        ]);
      }
      for (var index in allEntities) {
        document.content.push([
          {
            text: allEntities[index][`title_${this.langLocal}`],
            style: "subtitle",
            id: index,
            margin: [0, 10, 0, 5]
          },
          {
            text: allEntities[index][`summary_${this.langLocal}`],
            style: "normal",
            margin: [0, 5, 0, 5]
          },
          {
            text: this.$t("advantages"),
            style: "header",
            margin: [0, 5, 0, 5]
          },
          {
            text: allEntities[index][`advantage_${this.langLocal}`],
            style: "normal",
            margin: [0, 5, 0, 5]
          },
          {
            text: this.$t("disadvantages"),
            style: "header",
            margin: [0, 5, 0, 5]
          },
          {
            text: allEntities[index][`disadvantage_${this.langLocal}`],
            style: "normal",
            margin: [0, 5, 0, 5]
          }
        ]);
      }
      document.content.push([
        {
          text: [
            this.$t("more_info", {
              prov: this.data[`prov_name_${this.langLocal}`]
            }),
            {
              text: this.data[`contact_name_${this.langLocal}`],
              style: "link",
              link: this.data[`contact_link_${this.langLocal}`]
            }
          ],
          style: "normal",
          margin: [0, 5, 0, 5]
        },
        {
          text: [
            this.$t("powerby"),
            {
              text: this.$t("bizpal"),
              style: "link",
              link: this.$t("bizpal_link")
            }
          ],
          style: "normal",
          margin: [0, 5, 0, 5]
        }
      ]);
      pdfMake.createPdf(document).download(filename);
    },

    printSummaries: function() {
      this.isSummariesModalActive = true;
    },

    print: function() {
      this.$gtag.customMap({ dimension1: "sgc" });
      this.$gtag.event("print-summary-all-structures", {
        event_category: "business-entity-tool",
        event_label: "print summary of all structures",
        sgc: this.sgcLocal,
        product: process.env.VUE_APP_PRODUCT,
        event_lang: this.$i18n.locale
      });

      this.saveInteraction(
        "print-summary-all-structures",
        "Print summary of all structures"
      );

      const d = new Printd();
      d.print(this.$refs.PrintBody, [this.css]);
    },

    onClickPrevious: function() {
      this.tempValue = false;
      this.$emit("clicked", this.tempValue);
    }
  } // end methods
};
</script>

<style></style>
